.place__title {
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-top: 0;
    margin-right: 40px;
    padding: 0;
    vertical-align: top;
}

@media (max-width:1279px) {
    .place__title {
        max-width: 440px;
        margin-right: 32px;
    }
}

@media (max-width: 1023px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 48px;
        margin-right: 28px;
        height: 58px;
    }
}

@media (max-width: 767px) {
    .place__title {
        margin: 0 16px 0;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        max-height: 35px;
    }
}