.place__main-text {
    padding: 0;
    margin: 0;
}
@media (min-width:768px) and (max-width:1023px){
    .place__main-text {
        max-width: 352px;
        margin-left: 28px;
    }
}
@media (max-width: 767px) {
    .place__main-text {
        padding: 0 16px 0;
        max-width: calc(100% - 32px);
    }
}