.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 48px;
}

@media (max-width: 480px) {
    .place__website {
        display: block;
        margin-top: 32px;
        margin-bottom: 0;
        padding: 0 16px 0;
    }
}